[Unit]
Description=Hellion Warden Discord Bot
After=network.target

StartLimitInterval=60

[Service]
Type=simple

Restart=always
RestartSec=10

ExecStart=/usr/bin/hellion --verbose none /etc/hellion-warden

[Install]
WantedBy=multi-user.target